/* You can add global styles to this file, and also import other style files */
:root {
  --my-primary: #222831;
  --my-grey: #393e46;
  --my-blue: #00adb5;
  --my-white: #eeeeee;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: var(--my-primary);
  background-color: var(--my-white);
}
.bg-primary-color {
  background-color: var(--my-primary);
}
.custom-toggler.navbar-toggler {
  border-color: rgb(0, 173, 181);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 173, 181, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 173, 181, 0.5)");
}
